
__pycache__/dataset_util.cpython-311.pyc
.idea/vcs.xml
.idea/PerSpaCor_components.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
*.pyc
corpus/bijankhan/raw/Bijan_.txt
corpus/bijankhan/raw/Bijan_1.txt
corpus/bijankhan/raw/Bijan_2.txt
corpus/bijankhan/raw/Bijan_3.txt
corpus/bijankhan/bijankhan_sents_raw.txt
*.txt
corpus/bijankhan_sents_raw.txt
corpus/bijankhan_sents_tok.txt
corpus/bijankhan_whole_raw.txt
corpus/bijankhan_whole_tok.txt
corpus/bijankhan_whole_tok.txt
corpus/bijankhan_whole_raw.txt
corpus/bijankhan_sents_tok.txt
corpus/bijankhan_sents_raw.txt
dataset/bijankhan/data-00000-of-00001.arrow
dataset/bijankhan/dataset_info.json
dataset/bijankhan/state.json
